@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

body {
    font-family: 'Montserrat', sans-serif, 'Cormorant Garamond', serif;
}

.infiniteSlider {
  animation: infiniteSlide 12s linear infinite;
  will-change: transform;
}

@keyframes infiniteSlide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}