@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

body {
    font-family: 'Montserrat', sans-serif, 'Cormorant Garamond', serif;
}

.infiniteSlider {
  animation: infiniteSlide 5s linear infinite;
  will-change: transform;
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes infiniteSlide {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-33.333%, 0, 0);
  }
}